<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Simple Layout</title>
    </head>
    <body>
        @* placeholder for other views to display their own contents *@
        @RenderBody()
    </body>
</html>