<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        @* <meta name="viewport" content="width=device-width, initial-scale=1.0" /> *@
        <title>Simple Layout</title>
        <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-5.3.3-dist/css/bootstrap.css" />
    </head>
    <body>
        @* placeholder for other views to display their own contents *@
        <div class="container">
            @RenderBody()
        </div>
    </body>
</html>